.OurClientsgrid {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 2rem;
}
.OurClients {
  margin-block: 3rem;
}
.OurClientsContent h2 {
  color: #4d4d4d;
  font: 600 36px/44px "Inter", sans-serif;
}
.OurClientsContent p {
  color: #717171;
  font: 400 16px/24px "Inter", sans-serif;
}
.OurClientsCardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 5rem;
}
